/* Reset */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 12px;
    padding: 12px;
    min-height: 50vh;
    background-color: #000;
    margin: 32px;
    color: #fff;
    flex-wrap: wrap;

}
.add{
    font-size: 20px;
    padding: 8px;
    border-color: none;
    border-style: solid;
}
.limpar{
    font-size: 20px;
    padding: 8px;
    border-color: none;
    border-style: solid;
}


.aluno{
    height: 200px;
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aluno__title{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.nota{
    height: 200px;
    width:200px;
    flex-wrap: wrap;
}

.nota__title{
    text-align: center;
    padding: 10px;
    font-size:72px;
    
}

.vermelho{
    background-color: tomato;
}
.verde{
    background-color: green;
}